body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Georgia', serif;
    overflow: hidden;
}

.subText p {
    color: #f0c674;
}
.mainContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.imgContainer{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    bottom: 0px;
}
#images{
    width: 1225px;
    position: relative;
    right: 35%;
}
.textContainer{
    display: flex;
    position: relative;
    width: 800px;
    text-align: justify;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    left: 18%;
}
.subText{
    display: flex;
    justify-content: center;
}
.fade{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade.show{
    opacity: 1;
}